<body>
    <section>
        <div class="container">
            <h1 class="display-4">Stock Management Console</h1>
            <hr class="my-4">
        </div>
    </section>

    <div class="container">
        <input type="text" id="search" placeholder="Search for products..">
    </div>

    <div class="container">
        <table class="table table-hover align-middle" id="stockManagementTable">
            <thead>
                <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Category</th>
                <th scope="col">Price (ZAR)</th>
                <th scope="col">Quantity</th>
                <th scope="col">Status</th>
                <th scope="col">Delete Product</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
          <br>
        <div>
            <a href="stock-management/add-product">
                <button class="btn d-flex m-2 py-2 bg-light rounded-pill active">Add new product</button>
            </a>
        </div> 
    </div>
    <script src="/scripts/internal/stock-management/stock-management.js"></script>
</body>