<footer>
    <div class="container-fluid bg-light text-black-50 footer pt-5 mt-5">
        <div class="container py-5">
            <div class="pb-4 mb-4" style="border-bottom: 1px solid rgb(175, 21, 21) ;">
                <div class="row g-4">
                    <div class="col-lg-3">
                         <h4 class= "display-6" style="color: rgb(175, 21, 21);">Find us on social media</h4>
                    </div>
                    <div class="col-lg-3">
                        <div class="d-flex justify-content-end pt-3">
                            <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle btn-outline-danger" style="color: rgb(175, 21, 21);" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle btn-outline-danger" style="color: rgb(175, 21, 21);" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle btn-outline-danger" style="color: rgb(175, 21, 21);" href="#"><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-secondary btn-md-square rounded-circle btn-outline-danger" style="color: rgb(175, 21, 21);" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <div class="d-flex flex-column text-start footer-item">
                        <h4 class="mb-3" style="color: rgb(175, 21, 21);">Shop Info</h4>
                        <a class="btn-link text-dark" href="#">About Us</a>
                        <a class="btn-link text-dark" href="#">Contact Us</a>
                        <a class="btn-link text-dark" href="#">Privacy Policy</a>
                        <a class="btn-link text-dark" href="#">Terms &amp; Condition</a>
                        <a class="btn-link text-dark" href="#">Return Policy</a>
                        <a class="btn-link text-dark" href="#">FAQs &amp; Help</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="d-flex flex-column text-start footer-item">
                        <h4 class="mb-3" style="color: rgb(175, 21, 21);">Account</h4>
                        <a class="btn-link text-dark" href="#">My Account</a>
                        <a class="btn-link text-dark" href="#">Shopping Cart</a>
                        <a class="btn-link text-dark" href="#">Order History</a>
                    </div> 
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-item">
                        <h4 class="mb-3" style="color: rgb(175, 21, 21);">Contact</h4>
                        <p>Address: 1 Jan Smuts Ave, Johannesburg, 2017</p>
                        <p>Email: e-spaza@gmail.com</p>
                        <p>Phone: +0123 4567 8910</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                <span class="text-dark">
                    <i class="fas fa-copyright me-2" style="color: rgb(175, 21, 21);"></i>2024 e-spaza</span>
            </div>
        </div>
        
    </div>  
</footer>