<header> 
    <nav class="navContainer">
        <h1>e-spaza</h1>
        <div class="position-relative mx-auto">
            <input type="number" placeholder="Search">
            <button type="submit">
                <i class="fas fa-search text-primary"></i>
            </button>
        </div>
        <div class="navItem">
           <a href="/" style="color: white;" class="navLinks">home</a> 
           <a href="#" style="color: white;" class="navLinks">shop</a>
           <a href="#" style="color: white;"class="navLinks">contact</a>
        </div>
        <div>
            <a href="#" style="color: white;" class="navIcons">
                <i class="fas fa-shopping-bag fa-2x"></i>
            </a>
            <a href="/login" style="color: white;" class="navIcons">
                <i class="fas fa-user fa-2x"></i>
            </a>
       </div>
    </nav>
        
</header>

<script src="../scripts/header.js"></script>