<body>
    <main>
        <section>
            <h1 style="padding-left:20px;">Essentials</h1>
            <ul class="bodyContainer">
                <li class="productItems">1</li>
                <li class="productItems">2</li>
                <li class="productItems">3</li>
                <li class="productItems">4</li>
                <li class="productItems">5</li>
              </ul>
        </section>

        <section>
            <h1 style="padding-left:20px;">Beverages</h1>
            <ul class="bodyContainer">
                <li class="productItems">1</li>
                <li class="productItems">2</li>
                <li class="productItems">3</li>
                <li class="productItems">4</li>
                <li class="productItems">5</li>
              </ul>
        </section>

    </main>
</body>