<body>
    <div class="jumbotron container">
        <h1 class="display-4">Welcome to the e-spaza Internal site</h1>
        <p class = "lead">e-spaza staff and admin portal</p>
        <hr class="my-4">
        <div class="hstack gap-5">
            <div class="card" id="stock-management" style="width: 20rem;display:none">
                <div class="card-body">
                  <h5 class="card-title">Staff</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>
                  <a href="/internal/stock-management" class="btn btn-md m-2 py-2 bg-light rounded-pill active">Stock Management Console</a>
                </div>
            </div>

            <div class="card" id="user-management" style="width: 20rem;display:none">
                <div class="card-body">
                  <h5 class="card-title">Admin</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>
                  <a href="/internal/user-management" class="btn btn-md m-2 py-2 bg-light rounded-pill active">User Management Console</a>
                </div>
              </div>
        </div>
    </div>
    <script src="../scripts/internal/internal-landing.js"></script>
</body>

