<body>
    <section>
        <div class="container">
            <h1 class="display-4">View order details</h1>
            <hr class="my-4">

            <!-- order details-->

            <div class="row">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title mb-3">Items from Order #12554</h4>

                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead class="table-light">
                                    <tr>
                                        <th>Item</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Red Apples</td>
                                        <td>3</td>
                                        <td>R10</td>
                                        <td>R30</td>
                                    </tr>
                                    <tr>
                                        <td>Mangoes</td>
                                        <td>1</td>
                                        <td>R20</td>
                                        <td>R20</td>
                                    </tr>
                                    <tr>
                                        <td>Pork Chops</td>
                                        <td>1</td>
                                        <td>R100</td>
                                        <td>R100</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- end table-responsive -->

                        </div>
                    </div>
                </div> <!-- end col -->

                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title mb-3">Order Summary</h4>

                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead class="table-light">
                                    <tr>
                                        <th>Description</th>
                                        <th>Price</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Grand Total :</td>
                                        <td>R150</td>
                                    </tr>
                                    <tr>
                                        <td>Discount : </td>
                                        <td>R10</td>
                                    </tr>
                                    <tr>
                                        <th>Total :</th>
                                        <th>R140</th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- end table-responsive -->

                        </div>
                    </div>
                </div> <!-- end col -->
            </div>

            <br>

            <div class="row">

                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title mb-3">Billing Information</h4>

                            <ul class="list-unstyled mb-0">
                                <li>
                                    <p class="mb-2"><span class="fw-bold me-2">Payment Type:</span> Credit Card</p>
                                    <p class="mb-2"><span class="fw-bold me-2">Provider:</span> Visa ending in 2851</p>
                                    <p class="mb-2"><span class="fw-bold me-2">Valid Date:</span> 02/2020</p>
                                    <p class="mb-0"><span class="fw-bold me-2">CVV:</span> xxx</p>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div> <!-- end col -->
            </div>
        </div>         
     </section>
</body>