<body>
    <section>
        <div class="container">
            <h1 class="display-4">Stock Management Console</h1>
            <hr class="my-4">
            
            <div class="row mb-2 d-flex mb-2">
                <div class="col-sm-5 ms-auto p-2">
                    <div class="text-sm-end">
                        <button type="button" class="btn">
                            <i class="bi bi-file-earmark-excel-fill fa-2x" style="color:rgb(175, 21, 21);"></i>
                        </button>
                        <button type="button" class="btn">
                            <i class="bi bi-file-pdf-fill fa-2x" style="color:rgb(175, 21, 21);"></i>
                            </i></button>
                    </div>
                </div>
            </div>
           
        </div>         
     </section>

    <div class="container">
        <table class="table table-hover align-middle">
            <thead>
              <tr>
                <th scope="col">Product Id</th>
                <th scope="col">Product Name</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Status</th>
                <th scope="col">Update Details</th>
                <th scope="col">Delete Product</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#PV05</td>
                    <td>Beetroot</td>
                    <td>Vegetables</td>
                    <td>R5</td>
                    <td>200</td>
                    <td>In Stock</td>
                    <td>
                        <!-- Button trigger edit modal -->
                        <button class = "btn d-flex m-2 py-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style= "color:rgb(175, 21, 21);text-shadow:2px 2px 4px #9b9b9b;">
                            <i class="bi bi-pencil-square fa-2x"></i>
                        </button>
  
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Update Product</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <form class="row g-3">
                                    <div class="col-md-6">
                                      <label for="proudctName" class="form-label">Product Name</label>
                                      <input type="text" class="form-control" id="productName">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="productCategory" class="form-label">Product Category</label>
                                        <select id="productCategory" class="form-select">
                                          <option selected>Vegetables</option>
                                          <option>Fruits</option>
                                          <option>Bread</option>
                                          <option>Meat</option>
                                        </select>
                                    </div>
                    
                                    <div class="col-md-6">
                                        <label for="productQuantity" class="form-label">Total Quantity</label>
                                        <input type="number" id="productQuantity" class="form-control" />
                                    </div>
                    
                                    <div class="col-md-6">
                                        <label for="price" class="form-label">Unit Price</label>
                                        <input type="number" id="price" class="form-control" />
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inStockOption" value="inStockOption">
                                        <label class="form-check-label" for="inStockOption">In Stock</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="outOfStockOption" value="outOfStockOption">
                                        <label class="form-check-label" for="outOfStockOption">Out of Stock</label>
                                      </div>
                    
                                  </form>

        
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save Changes</button>
                        </div>
                        </div>
                        </div>
                        </div>
                    </td>
                    <td>
                        <button type="submit" class = "btn d-flex m-2 py-2 fa-2x" style= "color:rgb(175, 21, 21);text-shadow:2px 2px 4px #9b9b9b;">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
          </table>

          <br>

          <div>
            <a href="/internal/add-product">
                <button class="btn d-flex m-2 py-2 bg-light rounded-pill active">Add new product</button>
            </a>
           
        </div> 
    </div>
     
</body>