<body>
    <section>
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h1>
                    Stock Management Console
                </h1>
            </div>

            <div class="col-lg-3 col-md-6">
                <div>
                    <button class="btn d-flex m-2 py-2 bg-light rounded-pill active">Load Products</button>
                  </div>
            </div>
        </div>

    </section>

    <table class="table table-hover align-middle">
        <thead>
          <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Image Preview</th>
            <th scope="col">Category</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>Apples</td>
                <td></td>
                <td>Fruits</td>
                <td>2000</td>
                <td>R10</td>
                <td>In Stock</td>
            </tr>
        </tbody>
      </table>
</body>