  <body>
    <div class="container">
      <section>
        <div>
            <h1 class="display-4">
                User Management Console
            </h1>
            <br>
            
        </div>

    </section>

    <table class="table table-hover align-middle">
        <thead>
          <tr>
            <th scope="col">Full Name</th>
            <th scope="col">User Permissions</th>
            <th scope="col">Update User Permissions</th>
            <th scope="col">Delete Users</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

      <div>
        <button class="btn d-flex m-2 py-2 bg-light rounded-pill active">Load Users</button>
      </div>
    </div>
      
        <script src="scripts/internal/user-management.js"></script>
  </body>