  <body>
    <div class="container">
      <section>
        <div>
            <h1 class="display-4">
                User Management Console
            </h1>
            <br>
        </div>
    </section>

    <div class="container">
      <input type="text" id="search" placeholder="Search for users..">
    </div>

    <table class="table table-hover align-middle">
        <thead>
          <tr>
            <th scope="col">Full Name</th>
            <th scope="col">User Permissions</th>
            <th scope="col">Delete Users</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <script src="/scripts/internal/user-management.js"></script>
  </body>