ul{
    list-style-type: none;
}

a{
   text-decoration: none;
   color: inherit;
}

body { 
    padding-top: 150px; 
}


login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}

.navbar-brand{
    font-size: 3rem;
    color: rgb(175, 21, 21);
    font-weight: bold;
    text-shadow: 2px 2px 4px #9b9b9b;;
    
}

.navbar-brand:hover{
    color: rgb(175, 21, 21);
}

.footer{
    color: rgb(175, 21, 21);

}

/* Styles for unread notifications */
.unread {
    background-color: #ffc107; /* Change to whatever color you want for unread notifications */
}

/* Styles for read notifications */
.read {
    background-color: #f8f9fa; /* Change to whatever color you want for read notifications */
}

.ordersTable_wrapper{
   margin-top: auto;
}

.dt-buttons{
    
    float: right !important;
    margin-bottom: 1rem;
}

.buttons-copy{
    color: black;
    border-radius: 8px;
}

.buttons-excel{
    color: black;
    border-radius: 8px;
}

.buttons-csv{
    color: black;
    border-radius: 8px;
}

.buttons-pdf{
    color: black;
    border-radius: 8px;
}

.dt-search {
    float: left !important;
    margin-bottom: 1rem;
    
 }