*{
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
}

.navIconsContainer{
    display: flex;
}

.navbar-brand{
    font-size: 3rem;
    color: rgb(175, 21, 21);
    font-weight: bold;
    text-shadow: 2px 2px 4px #9b9b9b;;
    
}

.navbar-brand:hover{
    color: rgb(175, 21, 21);
}

.footer{
    color: rgb(175, 21, 21);

}